<%- partial('sidebar') %>

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>主页</a><span class='divider'>/</span></li>
				<li class='active'>关于</li>
			</ul>
		</div>
		<div class='inner'>
			<div class='topic_content'>
				<h3>关于</h3>
				<p></p>
				<p>cnillumos是中国的illumos/opensolaris聚集的技术社区。这里欢迎对illumos,smartos,openindiana,zfs和dtrace的讨论。</p>
				<p>各种意见，建议和合作请发<a href='mailto:subdragon@gmail.com'>subdragon@gmail.com</a>。</p>
			</div>
		</div>
	</div>	
</div>
